<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="../../static/css/styles.css">
<title>Car Dealership API</title>
</head>
<body>

    <!-- NavBar Here-->
    <nav class="ct-nav">
        <div>
            <img src="../../static/images/Chicago_sunrise_1.jpg" alt="Chicago sunrise">
        </div>

        <!-- Nav Items-->
        <div>
            <ul id ="horizontal-list">
                <a href="">
                    <li>Auto Electric Chicago</li>
                </a>
                <a href="">
                    <li>Browse the Lineup</li>
                </a>
                <a href="">
                    <li>Schedule Service</li>
                </a>
                <a href="">
                    <li>Sign In</li>
                </a>
                <a href="">
                    <li>Sign Up Free</li>
                </a>
            </ul>
        </div>
    </nav>
    <!-- End of Nav -->

    {% block content %}
    {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>