{% extends 'shared/base.html' %}

{% block content %}

<!-- Flask Flashed Messages to User -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'auth-success'%}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <!-- Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Car Collection API</h2>
            <h5>a fast, reliable data API for serious car collectors</h5>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../static/images/tesla_dealership.jpeg" alt="Tesla Dealership">
        </div>
    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h5>Your go-to provider of car data.</h5>
            <p>All data is standardized and checked by real people.</p>
            <div>
                <a class="btn btn-primary" href="{{ url_for('signup') }}">Get a Free API Key</a>
                <a class="btn btn-primary" href="{{ url_for('support') }}">Contact Our Team</a>
            </div>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/parking_lot.jpg" alt="electric cars" id="carkeys">
            <!-- <h4>Header</h4>
            <p>
                Text
            </p> -->
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/convertible.jpg" alt="convertible car" id="carkeys">
            <!-- <h4>Header</h4>
            <p>
                Text
            </p> -->
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/car_keys.jpg" alt="car keys" id="carkeys">
            <!-- <h4>Header</h4>
            <p>
                Text
            </p> -->
        </div>
    </section>
    <!-- End of Collection Features -->
    
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-12">
            <img src="../static/images/mechanic.jpg" alt="Mechanic" id="car">
        </div>

        <div class="col-12 col-md-6">
            <!-- <h4>Header</h4>
            <p>
                Text
            </p> -->
            <!-- <div>
                <button class="btn btn-primary">Get A Quote</button>
                <button class="btn btn-primary">Contact Our Team</button>
            </div> -->
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer">

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/nissan leaf.jpg" alt="Nissan Leaf" id="car-img">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/audi_e-tron.jpg" alt="Audi E-Tron" id="car-img">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/chevrolet_bolt.jpg" alt="Chevrolet Bolt" id="car-img">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/tesla_model_3.jpg" alt="Tesla Model 3" id="car-img">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/porsche_taycan.jpg" alt="Porsche Taycan" id="car-img">
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <img src="../static/images/jaguar_i-pace.jpg" alt="Jaguar I-Pace" id="car-img">
            </div>
        </div>
    </footer>

</div>

{% endblock content %}