/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

/* Target Main Logo Image */
.ct-nav img{
    width: 60%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 900px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.4vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of Nav Styles */

/* Start of Hero/Header Section */
#header-text{
    padding: 2vw;   
}

.header-image{
    width: 82%;
    max-width: 100%;
}
/* End of Hero/Header Section */

/* Start of Middle Section Styles */
#middle-text{
    text-align: center;
    padding: 5vh;
}

#middle-text h2{
    padding: 1.5vw;
}
/* End of Middle Section Styles */


#features-section{
    margin: 8vw;
}


/* Community Section Styles */
#car{
    width: 50%;
    max-width: 75%;
    margin-right:30%;
    margin-left:30%;
}

#carkeys{
    width: 100%;
    max-width: 100%;
    margin-left: 3vw;
}
/* End of Community Section */

#car-img{
    width: 20vw;
    max-width: 100%;
}

/* Profile Page */
#welcome{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10vh;
}

/* Footer Section Styles */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#top-title{
    text-align: center;
}